# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**YOUR NAME, YOUR SURNAME**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [49]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Libraries for data preparation and model building
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
# Setting global constants to ensure notebook results are reproducible
PARAMETER_CONSTANT = [...]

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [50]:
df_train = pd.read_csv('df_train.csv')
df_test = pd.read_csv('df_test.csv')
df_train.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [51]:
# look at data statistics
df_train.shape, df_train.dtypes, df_train.describe()

((8763, 49),
 Unnamed: 0                int64
 time                     object
 Madrid_wind_speed       float64
 Valencia_wind_deg        object
 Bilbao_rain_1h          float64
 Valencia_wind_speed     float64
 Seville_humidity        float64
 Madrid_humidity         float64
 Bilbao_clouds_all       float64
 Bilbao_wind_speed       float64
 Seville_clouds_all      float64
 Bilbao_wind_deg         float64
 Barcelona_wind_speed    float64
 Barcelona_wind_deg      float64
 Madrid_clouds_all       float64
 Seville_wind_speed      float64
 Barcelona_rain_1h       float64
 Seville_pressure         object
 Seville_rain_1h         float64
 Bilbao_snow_3h          float64
 Barcelona_pressure      float64
 Seville_rain_3h         float64
 Madrid_rain_1h          float64
 Barcelona_rain_3h       float64
 Valencia_snow_3h        float64
 Madrid_weather_id       float64
 Barcelona_weather_id    float64
 Bilbao_pressure         float64
 Seville_weather_id      float64
 Valencia_pressure       float64
 Seville_temp_max        float64
 Madrid_pressure         float64
 Valencia_temp_max       float64
 Valencia_temp           float64
 Bilbao_weather_id       float64
 Seville_temp            float64
 Valencia_humidity       float64
 Valencia_temp_min       float64
 Barcelona_temp_max      float64
 Madrid_temp_max         float64
 Barcelona_temp          float64
 Bilbao_temp_min         float64
 Bilbao_temp             float64
 Barcelona_temp_min      float64
 Bilbao_temp_max         float64
 Seville_temp_min        float64
 Madrid_temp             float64
 Madrid_temp_min         float64
 load_shortfall_3h       float64
 dtype: object,
         Unnamed: 0  Madrid_wind_speed  Bilbao_rain_1h  Valencia_wind_speed  \
 count  8763.000000        8763.000000     8763.000000          8763.000000
 mean   4381.000000           2.425729        0.135753             2.586272
 std    2529.804538           1.850371        0.374901             2.411190
 min       0.000000           0.000000        0.000000             0.000000
 25%    2190.500000           1.000000        0.000000             1.000000
 50%    4381.000000           2.000000        0.000000             1.666667
 75%    6571.500000           3.333333        0.100000             3.666667
 max    8762.000000          13.000000        3.000000            52.000000

        Seville_humidity  Madrid_humidity  Bilbao_clouds_all  \
 count       8763.000000      8763.000000        8763.000000
 mean          62.658793        57.414717          43.469132
 std           22.621226        24.335396          32.551044
 min            8.333333         6.333333           0.000000
 25%           44.333333        36.333333          10.000000
 50%           65.666667        58.000000          45.000000
 75%           82.000000        78.666667          75.000000
 max          100.000000       100.000000         100.000000

        Bilbao_wind_speed  Seville_clouds_all  Bilbao_wind_deg  ...  \
 count        8763.000000         8763.000000      8763.000000  ...
 mean            1.850356           13.714748       158.957511  ...
 std             1.695888           24.272482       102.056299  ...
 min             0.000000            0.000000         0.000000  ...
 25%             0.666667            0.000000        73.333333  ...
 50%             1.000000            0.000000       147.000000  ...
 75%             2.666667           20.000000       234.000000  ...
 max            12.666667           97.333333       359.333333  ...

        Madrid_temp_max  Barcelona_temp  Bilbao_temp_min  Bilbao_temp  \
 count      8763.000000     8763.000000      8763.000000  8763.000000
 mean        289.540309      289.855459       285.017973   286.422929
 std           9.752047        6.528111         6.705672     6.818682
 min         264.983333      270.816667       264.483333   267.483333
 25%         282.150000      284.973443       280.085167   281.374167
 50%         288.116177      289.416667       284.816667   286.158333
 75%         296.816667      294.909000       289.816667   291.034167
 max         314.483333      307.316667       309.816667   310.710000

        Barcelona_temp_min  Bilbao_temp_max  Seville_temp_min  Madrid_temp  \
 count         8763.000000      8763.000000       8763.000000  8763.000000
 mean           288.447422       287.966027        291.633356   288.419439
 std              6.102593         7.105590          8.178220     9.346796
 min            269.483333       269.063000        270.150000   264.983333
 25%            284.150000       282.836776        285.816667   281.404281
 50%            288.150000       287.630000        290.816667   287.053333
 75%            292.966667       292.483333        297.150000   295.154667
 max            304.816667       317.966667        314.816667   313.133333

        Madrid_temp_min  load_shortfall_3h
 count      8763.000000        8763.000000
 mean        287.202203       10673.857612
 std           9.206237        5218.046404
 min         264.983333       -6618.000000
 25%         280.299167        7390.333333
 50%         286.083333       11114.666667
 75%         293.884500       14498.166667
 max         310.383333       31904.000000

 [8 rows x 46 columns])

In [52]:
df_train.isnull().sum()

Unnamed: 0                 0
time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

In [53]:
df=pd.concat([df_train, df_test])
df.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [54]:
df['Valencia_pressure'].describe()

count    9161.000000
mean     1012.346687
std         8.817473
min       972.666667
25%      1010.666667
50%      1015.000000
75%      1018.000000
max      1021.666667
Name: Valencia_pressure, dtype: float64

In [55]:
df_clean=df
df_clean['Valencia_pressure']=df_clean['Valencia_pressure'].fillna(df_clean['Valencia_pressure'].mode()[0])

In [56]:
df_clean.dtypes

Unnamed: 0                int64
time                     object
Madrid_wind_speed       float64
Valencia_wind_deg        object
Bilbao_rain_1h          float64
Valencia_wind_speed     float64
Seville_humidity        float64
Madrid_humidity         float64
Bilbao_clouds_all       float64
Bilbao_wind_speed       float64
Seville_clouds_all      float64
Bilbao_wind_deg         float64
Barcelona_wind_speed    float64
Barcelona_wind_deg      float64
Madrid_clouds_all       float64
Seville_wind_speed      float64
Barcelona_rain_1h       float64
Seville_pressure         object
Seville_rain_1h         float64
Bilbao_snow_3h          float64
Barcelona_pressure      float64
Seville_rain_3h         float64
Madrid_rain_1h          float64
Barcelona_rain_3h       float64
Valencia_snow_3h        float64
Madrid_weather_id       float64
Barcelona_weather_id    float64
Bilbao_pressure         float64
Seville_weather_id      float64
Valencia_pressure       float64
Seville_temp_max        float64
Madrid_pressure         float64
Valencia_temp_max       float64
Valencia_temp           float64
Bilbao_weather_id       float64
Seville_temp            float64
Valencia_humidity       float64
Valencia_temp_min       float64
Barcelona_temp_max      float64
Madrid_temp_max         float64
Barcelona_temp          float64
Bilbao_temp_min         float64
Bilbao_temp             float64
Barcelona_temp_min      float64
Bilbao_temp_max         float64
Seville_temp_min        float64
Madrid_temp             float64
Madrid_temp_min         float64
load_shortfall_3h       float64
dtype: object

In [57]:
#from above information we will have to clean first the date, then the Valencia_Wind_deg and lastly Sevile_pressure
#imputing the month data
df_clean['time']=pd.to_datetime(df_clean['time'])
df_clean[['time']].head()

                 time
0 2015-01-01 03:00:00
1 2015-01-01 06:00:00
2 2015-01-01 09:00:00
3 2015-01-01 12:00:00
4 2015-01-01 15:00:00

In [58]:
df_clean['day'] = df_clean['time'].dt.day

In [59]:
df_clean['month'] = df_clean['time'].dt.month

In [60]:
df_clean['year'] = df_clean['time'].dt.year

In [61]:
df_clean['hour'] = df_clean['time'].dt.hour

In [62]:
df_clean[['time', 'day', 'month', 'year', 'hour']].head()

                 time  day  month  year  hour
0 2015-01-01 03:00:00    1      1  2015     3
1 2015-01-01 06:00:00    1      1  2015     6
2 2015-01-01 09:00:00    1      1  2015     9
3 2015-01-01 12:00:00    1      1  2015    12
4 2015-01-01 15:00:00    1      1  2015    15

In [63]:
df_clean['time']

0      2015-01-01 03:00:00
1      2015-01-01 06:00:00
2      2015-01-01 09:00:00
3      2015-01-01 12:00:00
4      2015-01-01 15:00:00
               ...
2915   2018-12-31 09:00:00
2916   2018-12-31 12:00:00
2917   2018-12-31 15:00:00
2918   2018-12-31 18:00:00
2919   2018-12-31 21:00:00
Name: time, Length: 11683, dtype: datetime64[ns]

In [64]:
#dealing with Valencia_wind_deg
df_clean['Valencia_wind_deg']=df_clean['Valencia_wind_deg'].str.extract('(\d+)')
df_clean.Valencia_wind_deg

0        5
1       10
2        9
3        8
4        7
        ..
2915     9
2916     8
2917     6
2918     6
2919    10
Name: Valencia_wind_deg, Length: 11683, dtype: object

In [65]:
df_clean['Valencia_wind_deg']=pd.to_numeric(df_clean['Valencia_wind_deg'])
df_clean['Valencia_wind_deg']

0        5
1       10
2        9
3        8
4        7
        ..
2915     9
2916     8
2917     6
2918     6
2919    10
Name: Valencia_wind_deg, Length: 11683, dtype: int64

In [66]:
df_clean['Seville_pressure']=df_clean['Seville_pressure'].str.extract('(\d+)')
df_clean.Seville_pressure

0       25
1       25
2       25
3       25
4       25
        ..
2915    24
2916    24
2917    23
2918    23
2919    23
Name: Seville_pressure, Length: 11683, dtype: object

In [67]:
df_clean['Seville_pressure']=pd.to_numeric(df_clean['Seville_pressure'])
df_clean['Seville_pressure']

0       25
1       25
2       25
3       25
4       25
        ..
2915    24
2916    24
2917    23
2918    23
2919    23
Name: Seville_pressure, Length: 11683, dtype: int64

In [68]:
df_clean= df_clean.drop('Unnamed: 0', axis=1)

In [69]:
df_clean_time = df_clean[['time']]
df_clean_time.head()

                 time
0 2015-01-01 03:00:00
1 2015-01-01 06:00:00
2 2015-01-01 09:00:00
3 2015-01-01 12:00:00
4 2015-01-01 15:00:00

In [70]:
df_clean_x = df_clean.drop('time', axis=1)

In [71]:
df_clean_x.isnull().sum()

Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure          0
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h       2920
day                        0
month                      0
year                       0
hour                       0
dtype: int64

In [72]:
# plot relevant feature interactions#f
y=df_clean_x[:len(df_train)][['load_shortfall_3h']]
x= df_clean_x[:len(df_train)].drop('load_shortfall_3h', axis=1)

In [73]:
x_train=df_clean_x[:len(df_train)].drop('load_shortfall_3h', axis=1)
x_test=df_clean_x[len(df_train):].drop('load_shortfall_3h', axis=1)

In [74]:
x.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,...,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,day,month,year,hour
0,0.666667,5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,...,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,1,1,2015,3
1,0.333333,10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,...,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,1,1,2015,6
2,1.000000,9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,...,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,1,1,2015,9
3,1.000000,8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,...,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,1,1,2015,12
4,1.000000,7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,...,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,1,1,2015,15

In [75]:
from sklearn import linear_model
lr = LinearRegression()

In [76]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,)

In [77]:
lr.fit(x_train, y_train)

LinearRegression()

In [78]:
predict= lr.predict(x_test)

In [79]:
lr.score(X=x_train, y=y_train)

0.18656622934623857

In [80]:
lr.score(X=x_test, y=y_test)

0.1498167093046462

In [81]:
pd.DataFrame(data=({'Test RMSE': {'LinearRegresion':r2_score(y_test, predict)}}))

                 Test RMSE
LinearRegresion   0.149817

In [82]:
# evaluate correlation

In [83]:
df_clean1 = df_clean_x[x.columns]

In [84]:
df_clean1['load_shortfall_3h']= lr.predict(df_clean1)

In [85]:
submission= df_clean_time.join(df_clean1['load_shortfall_3h'])
submission.to_csv('submission_file.csv', index=False)
submission

                    time  load_shortfall_3h
0    2015-01-01 03:00:00        8153.069897
0    2015-01-01 03:00:00        7455.184204
0    2018-01-01 00:00:00        8153.069897
0    2018-01-01 00:00:00        7455.184204
1    2015-01-01 06:00:00        7658.615390
...                  ...                ...
8758 2017-12-31 09:00:00       12172.935562
8759 2017-12-31 12:00:00       12880.153514
8760 2017-12-31 15:00:00       11034.168270
8761 2017-12-31 18:00:00       12225.461159
8762 2017-12-31 21:00:00       12293.391894

[17523 rows x 2 columns]

In [38]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [39]:
# remove missing values/ features

In [40]:
# create new features

In [41]:
# engineer existing features

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [42]:
# split data

In [43]:
# create targets and features dataset

In [44]:
# create one or more ML models

In [45]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [46]:
# Compare model performance

In [47]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [48]:
# discuss chosen methods logic